<div class="mt-8">
    <div class=" container">
        <div class="flex flex-row p-10">
            <div class="w-6/12 text-2xl">
                <p class="leading-9">Pokedraw c'est votre invitation à exprimer votre créativité. Dessinez, nommez et décrivez votre propre Pokedraw. Partagez vos créations sur le Pokewall, une galerie communautaire vivante. Que vous soyez un artiste chevronné ou débutant rejoignez-nous pour une aventure artistique, ajoutant votre touche unique à l'univers coloré des PokéDraw."</p>
            </div>
            <div class="w-6/12">
                <img class="mix-blend-color-dodge" src="/_assets/Capture.PNG" alt="pokedraw">
            </div>
        </div>
    </div>
</div>
