<div class="mt-8">
    <div class=" container bg-white rounded-lg ">
        <div class="flex flex-row p-10">
            <div class="w-6/12 text-2xl">
                <p>Pokedraw c'est votre invitation à exprimer votre créativité. Dessinez, nommez et décrivez votre propre Pokedraw. Partagez vos créations sur le Pokewall, une galerie communautaire vivante. Que vous soyez un artiste chevronné ou débutant rejoignez-nous pour une aventure artistique, ajoutant votre touche unique à l'univers coloré des PokéDraw."</p>
            </div>
            <div class="w-6/12">
                <img src="https://pm1.aminoapps.com/7369/eb266620ddc2508140da193e557d4b9eae74b0b1r1-452-415v2_00.jpg" alt="pokedraw">
            </div>
        </div>
    </div>
</div>
