<div class="mt-8">
    <div class="container">
        <div class="flex flex-row p-10">
            <div class="w-6/12 text-xl">
                <p class="leading-9">Pokedraw, c'est ton invitation à exprimer ta créativité ! Dessine, nomme et décris ton propre Pokedraw. Partage tes créations sur le Pokewall. Que tu sois un artiste chevronné ou débutant, rejoins-nous pour une aventure artistique et ajoute ta touche unique à l'univers coloré des PokéDraw.</p>
                <div class="container">
                    <div class="flex flex-row pt-0">
                        <div class="w-6/12">
                            <img class="mix-blend-color-dodge pointer-events-none" src="/_assets/Capture2.PNG" alt="pokedraw">
                        </div>
                        <div class="grid content-center">
                            <button class="btn" routerLink="/forms">lance toi !</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-6/12 max-h-96 border-2 mb-5 rounded-lg overflow-hidden bg-[url('/_assets/Capture.PNG')] bg-contain bg-no-repeat bg-center mix-blend-color-dodge cursor-crosshair">
                <app-p-pokedraw></app-p-pokedraw>
                
            </div>
        </div>
    </div>
</div>


<!-- <img class="mix-blend-color-dodge pointer-events-none"  src="/_assets/Capture.PNG" alt="pokedraw"> -->