<div class="">
    <div class="navbar bg-red-500 rounded-lg">
        <div class="flex-1">
            <a class="normal-case text-xl font-bold text-white" routerLink="/home">PokeDraw</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <!-- <li><a class="nav link no-underline font-bold text-white"  routerLink="/home">HOME</a></li> -->
                <li><a class="nav link no-underline font-bold text-white" routerLink="/forms">ADD POKEDRAW</a></li>
                <li><a class="nav link no-underline font-bold text-white" routerLink="/pokedex">POKEWALL</a></li>
                <!-- <li><a class="nav link no-underline" routerLink="/profil">PROFIL</a></li>
                <li><a class="nav link no-underline" routerLink="/inscription">INSCRIPTION</a></li> -->
            </ul>
        </div>
    </div>
</div>




