
<div class="">
    <div class="navbar bg-red-500 rounded-lg">
        <div class="flex-1">
            <a class="normal-case text-xl">PokeDraw</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a class="nav link no-underline"  routerLink="/home">HOME</a></li>
                <li><a class="nav link no-underline" routerLink="/forms">ADD POKEMON</a></li>
                <li><a class="nav link no-underline" routerLink="/pokedex">POKEDEX</a></li>
                <!-- <li><a class="nav link no-underline" routerLink="/profil">PROFIL</a></li>
                <li><a class="nav link no-underline" routerLink="/inscription">INSCRIPTION</a></li> -->
            </ul>
        </div>
    </div>
</div>




