<form (ngSubmit)="onSubmit()">
    <div>
      <h3>Nom:</h3>
      <input type="text" placeholder="Entrez le nom du pokémon !" [(ngModel)]="nom" name="nom">
  
      <h3>Description:</h3>
      <textarea name="description" cols="50" rows="10" placeholder="Entrez la description de votre pokémon !" [(ngModel)]="description" name="description"></textarea>
  
      <!-- Ajoute le gestionnaire d'événement (click) pour appeler la méthode onSubmit -->
      <button type="submit">Ajouter Pokémon</button>
      <div *ngIf="validationMessage" class="succes">{{ validationMessage }}</div>
    </div>
  </form>
  
  


